App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card {
  width: 90%;
  margin: auto
}

.page {
  margin-top: 100px;
  margin-bottom: 50px
}

.float-right.headingright {
  color: #153063;
  font-weight: 500;
  margin-top: 10px
}

.float-right {
  color: #7a7a7a;
  font-weight: 450
}


.heading2 {
  margin-top: 50%
}

.fa-calendar,
.fa-circle-thin,
.fa-star {
  color: #7a7a7a
}

.time {
  color: #7a7a7a;
  font-size: 12px
}

.fa-plus {
  display: inline-block;
  border-radius: 25px;
  background-color: #e3e1e1;
  color: #7a7a7a;
  size: 10px;
  padding: 2px
}

.task {
  color: #153063;
  font-weight: 500
}

.task2 {
  opacity: 0.5
}

.fa-thumb-tack,
.fa-exchange,
.fa-user {
  background-color: #7a7a7a;
  color:red;
  display: inline-block;
  border-radius: 25px;
  padding: 3px
}

.card-body {
  margin: 2%
}


.navTask {
  color: #136fe8;
  border-bottom: solid 1px #136fe8
}

.fa-bars {
  color: red;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;

  list-style:none


}

@media only screen and (max-width: 600px) {
  .card {
      font-size: 11px
  }

  .time {
      font-size: 6px
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #6d35c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2e00d6, rgb(5, 12, 0));
  background: -moz-linear-gradient(right, #76d35c7, #6d35c7);
  background: -o-linear-gradient(right, #2e00d6, #6d35c7);
  background: linear-gradient(to left, #2e00d6, #6d35c7);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}